<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<input class="btn btn-warning"  type="button" (click)="dispUserById()" value="getUserById" />
<input class="btn btn-warning"  type="button" (click)="lstUsers()" value="disp lst of users" />
<router-outlet></router-outlet>

 <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="width: 18rem;">
          
          <img [src]="data?.avatar" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Output</h5>
            <div class="card-text">
                
                  <div class="form-group">
                    <p class="alert alert-success">Id: {{data?.id}}</p>
                  </div>
                  <div class="form-group">
                    <p class="alert alert-success">First Name: {{data?.first_name}}</p>
                  
                    
                  </div>
                  <div class="form-group">
                    <p class="alert alert-success">Last Name: {{data?.last_name}}</p>
          
                  </div>
                  <div class="form-group">
                    <p class="alert alert-success">Email: {{data?.email}}</p>
          
                  </div>
      
      
                  <div class="form-group">
                    <input type="submit" value="Go to Step 2 " class="btn btn-warning"/>
                  </div>
                
            </div>
           
            
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>  -->
            <!-- <input type="text" placeholder="Last Name" class="form-control" formControlName="lnm"/> -->

  <!-- <app-disp-user [data]="data"></app-disp-user> -->

  <div class="row" >
    <div clsas="col-md-3" *ngFor="let user of  usersLst">
        <app-disp-user [data]="user"></app-disp-user>
    </div>
  </div>